/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Home {
            bindings = <&to 0>;
            key-positions = <55 54>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  `    |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp ESCAPE        &kp N1  &kp N2                                  &kp N3    &kp N4    &kp N5                           &kp N6         &kp N7  &kp N8     &kp N9         &kp N0    &kp GRAVE
&kp TAB           &kp Q   &kp W                                   &kp E     &kp R     &kp T                            &kp Y          &kp U   &kp I      &kp O          &kp P     &kp BSPC
&kp LEFT_SHIFT    &kp A   &kp S                                   &kp D     &kp F     &kp G                            &kp H          &kp J   &kp K      &kp L          &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X                                   &kp C     &kp V     &kp B   &kp C_MUTE    &none      &kp N          &kp M   &kp COMMA  &kp DOT        &kp FSLH  &kp RSHFT
                          &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS  &kp LALT  &kp LWIN  &mo 2   &kp RET       &kp SPACE  &kp BACKSPACE  &sl 1   &kp RWIN   &kp C_AC_SAVE
            >;

            sensor-bindings =
                <&inc_dec_kp BACKSPACE DELETE>,
                <&inc_dec_kp C_AC_ZOOM_IN C_AC_ZOOM_OUT>;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
